backtrader==1.9.76.123
cycler==0.11.0
fonttools==4.32.0
kiwisolver==1.4.2
matplotlib==3.5.1
numpy==1.22.3
packaging==21.3
Pillow==9.1.0
pyparsing==3.0.8
python-dateutil==2.8.2
six==1.16.0

pip~=22.0.4
wheel~=0.37.1
lxml~=4.8.0
pytz~=2022.1
setuptools~=60.5.0
pandas~=1.4.2
certifi~=2021.10.8
idna~=3.3
urllib3~=1.26.9
requests~=2.27.1
multitasking~=0.0.10
yfinance~=0.1.70