backtrader==1.9.76.123
certifi==2021.10.8
charset-normalizer==2.0.12
cycler==0.11.0
fix-yahoo-finance==0.1.30
fonttools==4.32.0
idna==3.3
kiwisolver==1.4.2
lxml==4.8.0
matplotlib==3.2.2
multitasking==0.0.10
numpy==1.22.3
packaging==21.3
pandas==1.4.2
Pillow==9.1.0
pyparsing==3.0.8
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
six==1.16.0
urllib3==1.26.9
yfinance==0.1.70
